#album-info {
  margin-bottom: 4em;
  display: flex;
}

.album-details {
  margin-left: auto;
  align-self: flex-end;
}

#album-title, .artist {
  margin-top: -2px;
  margin-bottom: .75em;
  font-size: 2em;
}

#song-list {
  width: 90%;
  margin-left: 1.5em;
}

td {
  border-bottom: 1px solid ##6610f2;
  padding: 10px;
}

button {
  background: #343a40;
  border: #6610f2;
  font-size: 1.25em;
}

album-cover-art {
  width: 20%;
  height: 20%;
  margin-left: 2em;
}
